<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask POST Example</title>
  </head>
<body>
    {% extends "template.html" %}
    {% block content %}


    <h1>Enter a Value for Calculation</h1>
    <form method="POST">
        <label for="input_value">Value:</label>
        <input type="text" id="input_value" name="input_value" required>
        <button type="submit">Submit</button>
    </form>
    {% if result is not None %}
    <h2>Calculated Result: {{ result }}</h2>
    {% endif %}


    {% endblock %}
</body>
</html>