{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block content %}

	<h1>hello from home	</h1>

  <p>Lorem Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel eros vitae est accumsan fringilla sed eget mauris. Mauris ut metus ut augue posuere mollis. Praesent lorem tellus, porta ut justo eget, volutpat ultrices neque. Morbi ac felis et felis elementum porttitor et pharetra lorem. Nullam sodales velit purus, vel imperdiet erat elementum id. Phasellus sed nunc non elit tempus interdum. Quisque et orci sit amet felis malesuada tincidunt. Praesent a blandit arcu. In posuere sed nibh ut malesuada. Morbi a ex tellus. Nam nisl odio, tempor id pretium non, ultrices sit amet massa. Maecenas dictum massa sed ultricies pellentesque. Integer ut tellus vel ipsum vehicula porttitor quis non mauris. Mauris ac turpis at ligula elementum congue.</p>

	

{% endblock %}