{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block content %}

	<h1>hello from content	</h1>

	

{% endblock %}






<!-- <body>



	<div id="container">

		<div id="logo">
        
			<a href="{{ url_for('index')}}" class="logolink">
				<i class=" icon-chat" style="font-size: 50px;"></i>
				&emsp; Comment reviewer
			</a>
	
		</div>

		<div class="option">
			<h1>review a single comment</h1>
		</div>
		
		<div id="back">
        
			<a href="{{ url_for('index')}}" class="backlink">BACK</a>
	
		</div>

	</div>

</body>
</html> -->