{% extends 'base.html' %}

{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        #output {
            display: flex;
            flex-direction: column;
        }        

        /* Language box style */
        .row {
            display: flex;
            flex-direction: row;
            align-items: stretch; /* Sprawia, że dzieci mają tę samą wysokość */
            width: 95%;
            margin: auto;
            padding: 2px;
            border-radius: 8px;
            font-size: 1.2rem;
            color: white;
            margin-top: 0.5vw;
        }


        .stats{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding-top: 5px;
            padding-bottom: 5px;
            width: 30%;
            padding: 10px; /* Dostosowano padding */
            border-radius: 8px;
            padding: 8px;
            margin-left: 10px;
            color: #fff;

        }

        .comment{
            background-color: #535353;
            width: 70%;
            padding: 10px;
            margin-left: 5px;
            border-radius: 8px;
            padding: 8px;

        }

        .stats.positive {
            background-color: #4aa54d;
        }

        .stats.negative {
            background-color: #ba1f1f;
        }

        .stats.neutral {
            background-color: #3888e3;
        }

        .final-message {
            width: 90%;
            margin: auto;
            border-radius: 8px;
            text-align: center;
            font-size: 1.2rem;
            /* font-weight: bold; */
            /* margin-bottom: 3vw; */
            margin-top: 2vw;
            padding-top: 10px;
            padding-bottom: 10px;
            background-color: #524646b9;
            color: white;
        }
        
        .bar-container {
            display: flex;
            justify-content: space-around;
            width: 90%;
            margin: auto;
            margin-top: 20px;
        }

        .bar {
            width: 30%;
            background-color: #ccc;
            border-radius: 8px;
            text-align: center;
            color: white;
        }

        .bar.positive {
            background-color: #4aa54d;
        }

        .bar.negative {
            background-color: #ba1f1f;
        }

        .bar.neutral {
            background-color: #3888e3;
        }

        button {
            background-color: #4CAF50;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 8px;
            cursor: pointer;
            font-size: 1rem;
            transition: background-color 0.3s ease;
            margin-top: 10px;
            margin-right: 91%;
            position: relative;
        }

        button:hover {
            background-color: #326b35;
        }

        textarea {
            width: 98%;
            min-height: 20px;
            padding: 10px;
            border-radius: 8px;
            border: 1px solid #a1a1a1;
            background-color: #e0e0e0;
            font-size: 1rem;
            color: #333;
            transition: background-color 0.3s ease;
            resize: none;
            margin-top: 1vw;
        }

        textarea:focus {
            background-color: #d1e7fd;
            outline: none;
            border-color: #4a90e2;
        }

        .loading-icon {
            display: none;
            margin-left: 10px;
        }

        .loading-icon-container {
            display: flex;
            justify-content: center;
            margin-top: 10px;
        }
        <!--
            
            -->
        /* Progress bar container styling */
        .progress-container {
            display: flex;
            gap: 5vw;
            margin-top: 3vw;
            justify-content: center;
            align-items: flex-end;
        }

        /* Styling for each progress bar */
        .progress-bar {
            width: 100px;
            height: 300px;
            background-color: #e0e0e0;
            border-radius: 10px;
            overflow: hidden;
            position: relative;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        /* Dynamic fill for each progress bar */
        .progress-bar-fill {
            width: 100%;
            height: 0;
            position: absolute;
            bottom: 0;
            border-radius: 8px;
            color: white;
            font-weight: bold;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            padding-bottom: 5px;
            transition: height 2s ease-out;
        }
        /* Colors for each sentiment */
        .positive_bar { 
            background-color: #4aa54d; 
            color: #333;
        }
        .negative_bar { 
            background-color: #ba1f1f; 
            color: #333;
        }
        .neutral_bar { 
            background-color: #3888e3; 
            color: #333;
        }
        p {
            text-align: center;
        }

    </style>


<script>
    function initializeProgressBars() {
        // Set heights of progress bars on load with animation
        // window.addEventListener("load", function() {
        document.getElementById("fill1").style.height = document.getElementById("fill1").getAttribute("data-height");
        document.getElementById("fill2").style.height = document.getElementById("fill2").getAttribute("data-height");
        document.getElementById("fill3").style.height = document.getElementById("fill3").getAttribute("data-height");
        document.getElementById("fill1").style.height = 50 + "%";
        console.log("Progress bars initialized");
        setTimeout(
            // Scroll to bottom function
            function scrollToBottom() {
            window.scrollTo({
                top: document.body.scrollHeight,
                behavior: 'smooth'
            });
            }
            ,300); // Delay scrolling
        // });
    }
    
    function runStream(){
        // Establish a connection to the SSE endpoint
        const eventSource = new EventSource("/stream");

        // When new data is received, update the page
        eventSource.onmessage = function(event) {
            const container = document.getElementById("output");
            // Parse the incoming JSON data
            const resultData = JSON.parse(event.data);
            // If the final message is received, close the connection

            if (resultData.is_final) {
                // Create a unique final message element
                const finalMessage = document.createElement("div");
                // finalMessage.className = "final-message";  // Add class for styling
                // finalMessage.textContent = resultData.text;  // Only display the final text
                finalMessage.innerHTML = `
                <p>All items processed!</p>
                <p style="color: #575a57;">note: The distribution of words classified into specific categories
		will result in a neutral text if positive words balance out the negative ones, or if only neutral words are detected.</p>
                    <h1 style="text-align: center;">Distribution of classified comments</h1>
                    <div class="progress-container">
                        <div class="progress-bar" id="progress1">
                            <div class="progress-bar-fill positive_bar" id="fill1" data-height="${resultData.mean_pos * 100}%">Positive</div>
                        </div>
                        <div class="progress-bar" id="progress2">
                            <div class="progress-bar-fill negative_bar" id="fill2" data-height="${resultData.mean_neg * 100}%">Negative</div>
                        </div>
                        <div class="progress-bar" id="progress3">
                            <div class="progress-bar-fill neutral_bar" id="fill3" data-height="${resultData.mean_neu * 100}%">Neutral</div>
                        </div>
                    </div>
                    
                `;
                container.appendChild(finalMessage);
                // Scroll down
                window.scrollTo(0, document.body.scrollHeight);
                initializeProgressBars();
                // Close the connection
                eventSource.close();
                return;  // Stop further processing
            }

            // Create a new div for the incoming data
            const newRow = document.createElement("div");
            newRow.className = "row";  // Add class for styling
            // Set the background color of the new row using the parsed color
            newRow.style.backgroundColor = resultData.color;
            // Insert the text content, author, and score received from the server
            newRow.innerHTML = `
                <div class="row">
                    <div class="comment">
                        <strong>Comment:</strong> ${resultData.text} <br><br>
                    </div>

                    <div class="stats ${resultData.color_type}">
                        <span style="padding-top:10px;"><strong>Author:</strong> ${resultData.author}</span>
                        <span style="padding-top:10px;"><strong>Original language:</strong> ${resultData.language}</span>
                        <span style="padding-top:10px; padding-bottom:10px;"><strong>Score:</strong> ${resultData.compound}</span>
                    </div>
                </div>
            `;
            container.appendChild(newRow);
            // Scroll down
            window.scrollTo(0, document.body.scrollHeight);
        };

        // Handle errors (optional)
        eventSource.onerror = function(event) {
            console.error("Error receiving SSE:", event);
            eventSource.close();
        };

        document.getElementById("loading-icon").style.display = "none";
        document.getElementById("loading-text").style.display = "none";
    }

    function startScrapingAndStream() {
        const url = document.getElementById("textinput").value;
        document.getElementById("loading-icon").style.display = "inline-block";
        document.getElementById("loading-text").style.display = "block";
        fetch('/start_scraping', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ url: url }),
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                runStream();
            } else {
                console.error("Scraping failed");
                document.getElementById("loading-icon").style.display = "none";
                document.getElementById("loading-text").style.display = "none";
            }
        })
        .catch((error) => {
            console.error('Error:', error);
            document.getElementById("loading-icon").style.display = "none";
            document.getElementById("loading-text").style.display = "none";
        });
    }
</script>

{% endblock %}

{% block content %}

    <h2 style="text-align: center; margin-bottom: 4vw;">X Comments Analyzer</h2>

    <div id="word">
        <form action="javascript:void(0);" method="POST" id="textForm" onsubmit="startScrapingAndStream();">
            <label for="textinput">Enter the website's url you want to analyse:</label>
            <br>
            <textarea id="textinput" name="textinput" placeholder="Your url..." required>{{ textinput }}</textarea>
            <br>
            <button type="submit">Submit</button>
            <div class="loading-icon-container">
                <img id="loading-icon" class="loading-icon" src="/static/css/img/loading.gif" alt="Loading...">   
            </div>
            <p id="loading-text" style="display: none; text-align: center; margin-top: 1vw;">Scraping data...</p>
        </form>
        <p style="color: #575a57; margin-top: 5vw;">note: Reviews might be misinterpreted, and translations could miss or alter the original sentiment.</p>    
    </div>

    <div id="output"></div>
    

    {% if task_done %}
    <script>
        window.addEventListener("load", runStream());
    </script>
        
    {% endif %}

    <script>
        
    </script>


    
{% endblock %}
