body
{
    background-color: #303030;
    color: #ffffff;
    font-family: "Lato", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.logo
{
    color: white;
}

a
{
    text-decoration: none;
    color: #ffffff;
}